html{
    height: 100%;
    scroll-behavior: smooth;
}
body{
    font-family: "Benton Sans", "Helvetica Neue", helvetica, arial, sans-serif;
    overflow-y: scroll;
    margin: 65px;
    letter-spacing: 2px;


}
*{
    box-sizing: border-box;
}
a{
    color: black;
    text-decoration: none;
}

a:hover{
    color: #FFD166;
}

h1, h2, h3, h4,h5{
    margin: 0;
    padding: 0;
    font-weight: lighter;
}
h1{
    font-size: 130%;
    font-weight: bold;
}
h2{
    font-size: 120%;
    color: #FFD166;
}
h3{
    font-size: 120%;
    color: #FFD166;
    font-weight: bold;
}

h4{
    font-size: 100%;
}

h5{
    font-size: 100%;
    font-weight: bold;
}

nav ul{
  margin: 20px 0px 20px 0px;
}

nav ul li{
  list-style-type: none;
  margin: 1px 0px;
}

ul{
    padding-inline-start: 0px;
    margin-top: 10px;
}
/* .container{
    max-width: 1200px;
    text-align: center;
    margin: 0 auto;
    padding: 0 3rem;
} */
button{
  background: white;
  border-radius: 100px;
  padding: 5px;
  width: 8em;
  margin-top: 1px;
  margin-bottom: 1px;
  color: black;
  font-family: inherit;

}

button:hover {
  box-shadow: 0 0 2px 1px rgba(255,209,102, 0.5);
}
@media screen and (max-width: 580px){
    container{
        padding: 0 2rem;
    }
}

img{
    margin: 20px 0;
    width: 100%;
}

.roundimg{
    border-radius: 50%;
    height: 250px;
    width: 250px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.col{
    /* margin:10px; */
    float: left;
    width: 50%;
    padding: 20px;
    background-color: white;
}

.row:after{
    display: table;
    clear: both;
}

.resume_row{
    padding: 50px 100px 0px 100px;
}


.resume_info{
    padding: 15px 80px 15px 80px;
    font-size: 85%;
}
.resume_info_detail{
    margin: 0px 30px 0px 30px;
}
