body{
    font-family: "Benton Sans", "Helvetica Neue", helvetica, arial, sans-serif;
    overflow-y: scroll;
    letter-spacing: 1px;
}

#content{
    max-width: 80%;
    margin:auto;
    margin-top: 65px;
}
a{
    color: black;
    text-decoration: none;
}

a:hover{
    color: #FFD166;
}

h1, h2, h3,h4{
    margin: 0;
    padding: 0;
    font-weight: bold;
}
h1{
    font-size: 130%;
}
h2{
    font-size: 120%;
    color: #FFD166;
    margin: 3px 0;
}
h3{
    font-size: 100%;
    font-weight: lighter;
}

h4{
    font-size: 100%;
}
ul{
    margin: 10px 0px;
}
nav ul{
    margin: 20px 0px;
    padding-inline-start: 0px;
}

nav ul li{
    list-style-type: none;
    margin: 3px 0px;
}
button{
    background: transparent;
    padding: 5px;
    width: 100px;
    margin: 5px 0;
    border: 2px solid black;
    border-radius: 5px;
}

button:hover {
  background: rgba(255,209,102, 0.1);
}

.main-flex{
    display: flex;
    flex-direction: row;
    flex-wrap:wrap;
    justify-content: center;
}

.profile-img{
    width:45%;
}
.profile-img img{
    max-width: 90%;
    height: auto;
    border-radius: 5px;
}

.intro{
    width:50%;
    margin:10px;
    padding: 15px;
    word-wrap: break-word;
}

.contact{
    margin:20px 0;
}

.resume-flex{
    display:flex;
    flex-direction: column;
    flex-wrap: wrap;
}
.resume_row{
    width: 80%;
    margin:20px auto;
    padding: 25px 75px;
    background-color: #FFFAEF;
}
